@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fae9dd;
    margin: 0;
    padding: 0;
    font-family: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: #10162F;
}   

.container {
  max-width: 100%;
  padding: 0 5rem 0 5rem;
}

.konyvek {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 2rem;
}

.konyvLink {
  text-decoration: none;
  color: #10162F;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-btn {
  padding: .5rem 1rem; 
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  font-weight: 600;
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #10162F;
}
.new-btn:hover {
  transform: translate(5px, -5px);
  box-shadow: -5px 5px #000;
}

@media screen and (max-width: 1200px) {
  .konyvek {
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .konyvek {
    max-width: 80%;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 768px) {
  .konyvek {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    padding: 0 2.5rem 0 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  
}