.form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.form-input {
    width: 40%;
    background-color: #fff;
    border: 1px solid #000;
    padding: .5rem 1rem .5rem 1rem;
}

.form-input:focus,
.form-input:focus-visible {
    border: 1px solid #3A10E5 !important;
    border-radius: 0px !important;
}

.new-btn {
    padding: .5rem 1rem; 
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: 600;
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: #10162F;
  }
  .new-btn:hover {
    transform: translate(5px, -5px);
    box-shadow: -5px 5px #000;
  }